<nz-modal
    [(nzVisible)]="isVisiblePopup"
    [nzMaskClosable]="true"
    [nzTitle]=""
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
    [nzFooter]="null"
    [nzClassName]="'popup-custom'"
    [nzClosable]="false"
    [nzWidth]="width">
    <div *nzModalContent class="content-popup">
        <div class="icon-popup" *ngIf="showIcon">
            <span
                *ngIf="type == 'success'"
                nz-icon
                nzType="ng-zorro:warning_noti_icon"
                style="font-size: 48px !important;">
            </span>
            <span
                *ngIf="type == 'danger'"
                nz-icon
                nzType="ng-zorro:danger_popup_icon"
                style="font-size: 48px !important;">
            </span>
            <span
                *ngIf="type == 'info'"
                nz-icon
                nzType="ng-zorro:info_popup_icon"
                style="font-size: 48px !important;">
            </span>
            <span
                *ngIf="type == 'warning'"
                nz-icon
                nzType="ng-zorro:warning_noti_icon"
                style="font-size: 48px !important;">
            </span>
            <span
                *ngIf="type == 'error'"
                nz-icon
                nzType="ng-zorro:error_popup_icon"
                style="font-size: 48px !important;">
            </span>
        </div>
        <div class="label-popup bold-large-text nor-color lg-size">{{label}}</div>
        <div class="text-popup bold-text text-second normal-size">
          <span *ngIf="deletedQuantityInSameFolder >= 50" style="color: red;"> *Cảnh báo: </span>
          {{contentText}}
        </div>

        <ng-content select=".content-body-custom"></ng-content>

        <div *ngIf="isFooterDefaul" class="custom-footer d-flex align-center justify-center">
            <button nz-button class="footer-button-cancel d-flex align-center justify-center radius-8 text-second bold-text normal-size" nzType="default" (click)="handleCancel()">Hủy</button>
            <button class="btn-footer justify-center" nz-button [nzLoading]="isOkLoading" nzType="primary" (click)="handleOk()">Xác nhận</button>
        </div>
    </div>
</nz-modal>
