$colorBackgroudWhite: #ffffff;
$colorTextWhite: #ffffff;
$colorTextWhiteSub: rgba(255, 255, 255, 0.7);
$colorBackground2: #e5e5e5;
$colorBackground3: #f0f2f5;
$colorBlackText: #000000;
$colorBlackSub: rgba(0, 0, 0, 0.4);
$colorBlackSub2: rgba(0, 0, 0, 0.7);
$colorMenuHover: #f7f8fc;
$colorPrimary: #1693F1;
$colorPrimary1: #0F80DE;
$colorDanger: #eb2d4b;
$colorBorder: rgba(0, 0, 0, 0.05);
$colorPending: #0F80DE;
$colorProcessing: #00b335;
$colorPostpone: #d25814;
$colorAssign: #e7a700;
$colorCancel: #eb2d4b;
$colorComplete: #e7a700;
$colorScrollbarTrack: #f1f1f1;
$colorScrollbarThumb: #a1a1a1;
$colorScrollbarThumbHover: #5f5f5f;
$colorBackground4:#E4F4FE;
$colorTextTitle: #090808;
$colorTextBody: #2B2B2B;
$colorTextSubTitle: #828181;
$colorTextDisable: #C9C8C8;
$colorAlertInfo: #0F80DE;
$colorAlertSuccess: #2FB25E;
$colorAlertWarning: #F98723;
$colorAlertDanger: #E62A2A;
$colorIconBlack: #090808;
$colorIconWhite: #F7F6F6;
$colorIconDisable: #C9C8C8;
$colorStroke-100: #EBEBEB;
$colorStroke-200: #DDDDDD;
$colorStroke-300: #C9C8C8;
$colorStroke-900: #090808;
$color-button-primary-default: #1693F1;
$color-button-primary-hover: #0F80DE;
$color-button-secondary-default: #E4F4FE;
$color-button-secondary-hover: #BCE2FE;
$color-button-secondary-selected: #BCE2FE;
$color-backgroundCard-default: #FFFFFF;
$color-backgroundCard-hover: #F7F6F6;
$color-second-success: #E8F8ED;
$color-second-warning: #FFFEE8;
$color-second-error: #FFEAED;
$color-background-gray-second: #FAFAFB;
